.fifth-wrapper .left-side-wrapper{
  background-image: url(../images/home/apple-tv-background.jpg);
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tvshow-logo-wraper {
  padding-top: 240px;
}
.Watch-wrapper{
  padding-top: 180px;
}
.fifth-wrapper .right-side-wrapper{
  background-image: url(../images/home/air-pods.jpg);
  height: 600px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: initial;
  background-color: black;
  color: white;
}
