
.bgimg7 {
  background-image: url(../images/home/macbook-pro.jpg);
  height: 580px;
  /* background-size: ; */
  background-color: hsl(0, 0%, 98%);
  background-position: bottom;
  background-repeat: no-repeat;
}

.bgimg8 {
  background-image: url(../images/home/new-ipad.jpg);
  height: 580px;
  background-position: center;

  background-size: cover;
}

.titlemac {
  font-weight: bolder;
  font-size: 60px;
}
.bestdescription {
  font-size: 2em;
}

.iphone {
  font-weight: 500px;
  font-size: 56px;
}
.just {
  font-size: 23px;
}
.just1 {
  font-size: 29px;
}

.servant {
  padding: 119px 0 190px;
}



