/* General Styling*/

/* *********************************** The first Section highlight for mac pro promotion*/

.first-highlight-wrapperr {
  background: #fafafa;
  text-align: center;
  padding: 25px 0;
}
.links-wrapper ul {
  list-style: none;
}
.model {
  font-size: 0.85em;
}
.product-title {
  font-weight: 800;
  font-size: 56px;
}
.brief-description {
  font-size: 2em;
}
.internal-wrapper {
  text-align: center;
}
.first-links-wrapper {
  padding: 13px 0;
}
.first-links-wrapper ul li {
  display: inline-block;
  list-style: none;
  padding: 16px 0;
}
.first-links-wrapper ul li a {
  text-decoration: none;
  color: #06c;
}

.watch-more-container a {
  color: rgb(151, 76, 221);
=======
.first-links-wrapper ul li a:hover {
  color: rgb(162, 172, 172);

}
.first-links-wrapper ul li a::after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f105";
  padding-left: 15px;
}
/* **************************** */

/* my work */

.cta-links-container a:hover {
  color: #978f8f;
}
